*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif,'Arimo', 'Poppins'  ;
    /* font-family: 'Fira Mono', 'Andale Mono', 'Consolas', monospace; */
}
.topl{
    height: 0.6rem;
    background-image:linear-gradient(to right , #fb8817, #ff4b01, #c12127, #e02aff);
}
header .hd1{
    height: 3.7rem;
    width: 100%;
    font-size: 1rem;
    padding: 0 2rem;
    border-bottom:0.5px solid #a0a0a039;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hd11{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}
.heart{
    font-size: 20px;
}
.hd1 h4{
    font-weight: 500;
    letter-spacing: 0.015625em;
    /* margin: auto auto auto 0.5rem; */
}
.hd1 span{
    /* margin: auto 0 auto auto; */
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}
.hd1 a{
    text-decoration: none;
    color: black;
}
.hd2{
    background-color: white;
    height: 12.5vh;
    display: flex;
    padding:0 2rem;
    justify-content: space-between;
    align-items: center;
}
.hd2 img{
    margin-top: 0.5rem;
    height: 5.8vh;
    /* margin: 1.6rem 2rem auto; */
}
.hd2 div{
    display: flex;
}
.hd2 svg{
    height: 1.5em;
    width: 1.5em;
    top: 0.9rem;
    left: 1rem;
    position: absolute;
}
.search{
    height: 7.2vh;
    border:1px solid white;
    position: relative;
}
.hd2 input[type=text]{
    height: 7.2vh;   
    padding-left: 3.5vw;
    width: 65.5vw;
    border: transparent;
    font-size: 15px;
    background-color: #F2F2F2;
}
.hd2 .search input[type=text]:focus{
    border: 0.7px solid black;
    background: #F2F2F2;
    outline-style:none;
}
.hd2 input[type=button]{
    height: 7.2vh;
    width: 7.5vw;
    font-size: 2.2vh;
    font-weight: 600;
    background: #231F20;
    color: white;
    border: 1px solid black;
}
.hd2 span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
    /* background-color:  red; */
}
.hd2 span a:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    width: 6.8rem;
    font-size: 1rem;
    /* margin: 1rem 1.5rem 0 0rem; */
    border: 0.5px solid #a0a0a081;
    background: white;
    color: black;
}
.hd2 span a:first-child:hover{
    opacity: 50%;
}
.hd2 span a:last-child{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    /* margin-top:2rem; */
}
.hd2 span a:last-child:hover{
    color: #7F7F7F;
}
/* main{
    height: 220vh;
    background: no-repeat;
    background-size: cover;
    background-image: url(./img/banner.png);
} */

.container1{
    /* height: 120vh; */
    height: 118vh;
    background: no-repeat center;
    background-size: cover;
    background-image:linear-gradient( 270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73% ),url(./img/banner.png);
    color: #fff;
    text-align: center  ;
    padding: 7.3vw 21vw 12vw;
}
.container1 h1{
    font-size: 5.6vw;
    padding: 0.5vh 3vw 7.3vh;
    /* font-family: 'Dancing Script', cursive; */
}
.container1 article{
    font-size:1.05vw;
    padding: 0 11.5vw 1.9vw;
    line-height: 1.5;
}
.container1 h3{
    font-size: 2.5vw;
    padding: 0 12vw 1.6vw;
}
.container1 .button{
    display: inline-flex;
    padding: 1vw;
    font-size: 1vw;
    font-weight: 800;
    cursor: pointer;
    margin-top: 2.5vw;
}
.button>#b1 a{
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #FFC329;
    padding: 1vw 3.6vw;
    /* box-shadow: 10px 13px 20px black,10px 10px black; */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.474);
    margin-right: 2vw;
}
.button>#b2 a{
    color: #fff;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 50px;
    background: #CB3837;
    padding: 1vw 3.3vw;
}
.container2{
    height: 93.5vh;
    text-align: center;
    padding: 9vh 32vw;
    border-bottom:0.5px solid #a0a0a039;
}
.container2 img{
    height: 13.7vh;
}
.container2 h2{
    font-size: 2.4vw;
    padding: 4vh 1vw;
}
.container2 p{
    font-size: 1vw;
    padding: 0 0.8vw;
    line-height: 1.5;
}
footer{
    height: 46vh;
    display: flex;
    font-size: 1.1vw;
    padding-top: 6.4vh;
}   
.web img{
    display: block;
    margin:0 0 0 2.5vw;
}
.web img[alt=npmlogo]{
    height: 9.5vh;
    opacity: 85%;
    margin-bottom: 2vh;
}
.web img[alt='GitHub']{
    height: 7vh;
    padding-left: 0.4vw;
}
.details{
    display: flex;
}
.link{
    margin: 2vh 5.8vw 12vh;
}
.link h3{
    margin-bottom: 3.5vh;
}
.link a{
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}
.link ul{
    list-style-type: none;
}
.link li{
    margin-bottom:3vh;
    padding:0 11.5vw 0 0;
    text-align: left;
}



@media (max-width:600px) {
    .hd1 p,.hd1 h4{
        display: none;
    }
    header span{
        margin-right: 2rem;
    }
    header .hd1 span a{
        display: inline-block;
        margin-right: 1rem;
        font-size: 3.5vw;
    }
    .hd2 img{
        height: 7vh;
    }
    .hd2{
        height: 22.2vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding:0 0 1.3rem 1rem;
    }
    .search{
        order:2;
        height: 6vh;
    }
    .hd2 svg{
        height: 1.3em;
    }
    .hd2 input[type=text]{
        padding-left: 3.5rem;
    }
    .hd2 input[type=button]{
        width: 22vw;
    }
    .container1{
        background:linear-gradient( 270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73% ),url(./img/banner.png);
        background-size: cover;
        background-position: center;
        padding: -1.8rem 0;   
        height: 129.5vh;
        overflow: hidden;
        
    }
    .container1 h1{
        font-size: 13.5vw;
        margin-top: 9.5vh;
    }
    .container1 article{
        font-size: 4.2vw;
        margin: 0 -28vw;
    }
    .container1 h3{
        font-size: 7vw;
        margin: 2vh -18vh;
    }
    .container1 div {
        display: flex;
        flex-flow: wrap row;
    }
    .container1 #b1 a,.container1 #b2 a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-left: -3.5rem;
        height: 3rem;
        width: 20rem;
        font-size: 4em;
    }

    .container2{
        padding: 9.3vh 0;
        height: 102vh;
    }
    .container2 img{
        height: 14.5vh;
    }
    .container2 h2{
        font-size: 6.8vw;
        padding: 4vh 6vw;
    }
    .container2 p{
        font-size: 4.2vw;
        padding: 0 6.2vw;
    }
    footer{
        display: flex;
        flex-flow: wrap row;
        height: 157vh;
    }
    .web{
        height: 5rem;
        padding-left: 6vw;
    }
    .web img[alt=npmlogo]{
        height: 4rem;
    }
    .web img[alt='GitHub']{
        height: 7.5vh;
        padding-left: 2vw;
    }
    footer div{
        padding: 0 2rem 0.1rem 2vw;
    }
    .details{
        display: flex;
        margin-top: 5rem;
        flex-direction: column;
    }
    .link ul{
        font-size: 4.5vw;
    }
}